.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    height: 50px;
}
.header button {
    background-color: #fff;
    padding: 8px;
    color: #333;
    border-radius: 50%;
}