.suggestion {
    padding: 20px 5%;
    margin-top: 5px;
}

.suggestion label {
    font-size: .9rem;
    word-spacing: 1px;
    color: #333;
    padding-right: 10px;
    padding-bottom: 5px;
}

.suggestion select {
    width: 100%;
    border-radius: 15px;
    padding: 18px 25px;
    background-color: #fefefe;
    box-shadow: 0 0 2px #ddd;
    font-size: .9rem;
    word-spacing: 1px;
    border: none;
}