.footer::before {
    content: '';
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 45px;
    background-color: rgba(255, 255, 255, 0.709);
    border-top: 1px solid #fafafae0;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px;
}
.footer > * {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    width: 100%;
    height: 100%;
    flex-grow: 1;
    color: #fff;
    background-color: #2cabffea;
    border-radius: 12px;
    font-size: .9rem;
    word-spacing: 1px;
    justify-content: space-between;
    padding: 0 20px;
}
@media screen and (min-width: 992px) {
    .footer { display: none; }
}

