.list {
    width: 100%;
}
.list > *:first-child {
    /* background-color: #111; */
    padding-bottom: 45px;
}
#slide {
    max-width: 85%;
}
#slide img {
    width: 100%;
    height: 250px;
    object-fit: contain;
}