.header {
    width: 100%;
    height: 40px;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header > *:last-child a {
    color: #fff;
    background-color: #25a6fc;
    border-radius: 12px;
    display: flex;
    padding: 8px 20px;
    font-size: .85rem;
    word-spacing: 1px;
}
@media screen and (min-width: 992px) {
    .header {
        padding: 0 5%;
    }
   
}


