.sub_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 5px 20px;
    height: 30px;
    border-top: 1px solid #444;
}
.sub_info > *:first-child {
    font-size: .86rem;
    color: #aaa;
    background-color: rgba(68, 68, 68, 0.59);
    padding: 2px 8px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 5px;
}
.feature {
    display: flex;
    align-items: center;
    gap: 3px;
    color: #aaa;
}
.feature .value {
    font-size: .76rem;
    letter-spacing: 0.5px;
}
.feature .unit {
    font-size: .6rem;
    padding-top: 1px;
}
.color {
    color: #aaa;
    font-size: .7rem;
    word-spacing: 1px;
}