#backdrop {
    background-color: #fff;
    width: 100%;
    display: block;
    overflow-y: auto;
    z-index: 2;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    height: 50px;
    padding: 0 5%;
}

.header > div {
    display: flex;
    align-items: center;
    gap: 6px;
}

.name {
    font-family: sflight;
}