.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f6;
    border-radius: 15px;
    margin-top: 10px;
}
.item {
    border-bottom: 1px solid #eee;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 15px 20px;
}
.item:last-child {
    border-bottom: none;
}
.title {
    font-size: .85rem;
    word-spacing: 2px;
    color: #555;
}
.item > div {
    width: 220px;
}

.line {
    width: 100%;
    height: 8px;
    display: block;
    background-color: #ddd;
    border-radius: 10px;
    direction: ltr;
    position: relative;
}
.point {
    background-color: #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sfregular;
    padding: 2px;
    border-radius: 50%;
    width: 20px;
    font-size: .8rem;
    height: 20px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
.green_line {
    display: block;
    background-color: #00d166;
    width: 50%;
    height: 8px;
    border-radius: 10px;
}