.info {    
    padding: 0 10px;
}
.name_brand {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.name {
    direction: ltr;
    font-family: sflight;
    font-size: .88rem;
    word-spacing: 1px;
    width: 100%;
    display: flex;
    align-items: center;
    text-align: left;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;  
    color: #555;  
}
.cat_brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.cat_brand > * {
    font-size: .75rem;
    word-spacing: 1px;
}
.top_info {
    display: flex;
    align-items: center;
    gap: 5px;
    flex-direction: row-reverse;
}
.brand {
    font-size: .8rem;
}
.category {
    display: flex;
    align-items: center;
    gap: 5px;
}
.features {
    display: flex;
    align-items: center;
    gap: 3px;
}
.features > * {
    background-color: #eee;
    border-radius: 15px;
    font-size: .7rem;
    padding: 2px 8px;
}