.reply_actions {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 10px;
    border-top: 1px solid #eee;
}

.reply_actions ul {
    display: flex;
    align-items: center;
    gap: 5px;
}

.report button {
    font-size: .65rem;
    word-spacing: 1px;
    gap: 3px;
    display: flex;
    align-items: center;
    color: #666;
    
}