.navbar {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}
.navbar > * {
    display: flex;
    align-items: center;
    flex: 2;
    height: 100%;
}
.navbar > *:nth-child(2) { 
    justify-content: center; 
    flex: 2;
}
.navbar > *:nth-child(1) a {
    font-size: .75rem;
}
.navbar > *:nth-child(3) { 
    justify-content: end; 
    gap: 10px;
}

.back_link {
    font-size: .8rem;
}
.back_link > span {
    padding-top: 2px;
}
.slash {
    margin: 0 3px;
    color: #888;
    font-size: .8rem;
}
.category_link {
    font-size: .7rem;
    padding-top: 2px;
}
.navbar > *:nth-child(3) button,
.navbar > *:nth-child(3) a {  
    position: relative;
    width: 30px;
    height: 30px;
}

.badge {
    background-color: #ff5555;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    color: #fff;
    font-size: .5rem;
    font-family: sflight;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
    border: 1px solid #fff;
    position: absolute;
    top: 0;
    left: 0;
}

.cats_btn {
    gap: 5px;
    font-size: 1.05rem;
    color: #555;
    align-items: center;
    background-color: red;
}
.cats_icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
}
.cats_icon > * {
    background-color: #ff5050;
    background-color: #555;
    width: 16px;
    height: 2px;
    border-radius: 4px;
    display: block;
}

@media screen and (min-width: 992px) {
    .navbar { padding: 0 5%; }
}
