.container { display: none; }


@media screen and (min-width: 992px) {
    .container {
        display: flex;
        align-items: center;
        gap: 2px;
        padding: 2px;
        height: calc(100% - 40px);
        position: relative;
    }
    .container > * {
        background-color: #f6f6f6;
        border-radius: 8px;
        height: 100%;
        overflow-y: auto;
    }
    .container aside {
        width: 320px;
        position: sticky;
        top: 0;
        right: 0;
        padding-right: calc(5% - 20px);
    }
    .body {
       flex-grow: 1;
       
    }
    .body > * {
        padding: 30px 5%;
        padding-left: calc(5% + 15px);
    }
}