.price {
    display: flex;
    align-items: center;
    gap: 5px;
}
.value {
    font-size: .9rem;
    letter-spacing: 1.5px;
    color: #444;
    font-family: sfregular;
}
.unit {
    font-size: .6rem;
    color: #666;
    padding-top: 2px;
}