.suggestion {
    padding: 20px 5%;
    border-bottom: 1px solid #eee;
    margin-top: 5px;
}

.suggestion label {
    font-size: .9rem;
    word-spacing: 1px;
    color: #333;
    padding-right: 10px;
    padding-bottom: 5px;
}

.suggestion select {
    width: 100%;
    background-color: rgba(244, 241, 241, 0.956);
    border: 1px solid rgba(221, 221, 221, 0.483);
    padding: 15px;
    border-radius: 15px;
    font-size: 1rem;
    word-spacing: 1px;
}