.comment {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 5%;
}

.comment button {
    width: 100%;
    justify-content: space-between;
    border-radius: 15px;
    padding: 18px 25px;
    background-color: #fefefe;
    box-shadow: 0 0 2px #ddd;
    font-size: .9rem;
    word-spacing: 1px;
}

.no_comment {
    color: #666;
    font-size: .75rem;
    word-spacing: 1px;
    padding-left: 5px;
}