.list {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-top: 5px;
}

.list li {
    width: 100%;
}

.list a {
    justify-content: start;
    gap: 10px;
    font-family: shabnambold;
    padding: 15px 20px;
    background-color: rgba(255, 255, 255, 0.455);
    border-radius: 10px;
    color: #444;
}

.list img {
    width: 30px;
    height: 25px;
    object-fit: contain;
}