.item {
    background-color: #f8f8f8;
    border-radius: 15px;
}
.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.item img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    object-fit: contain;
}
.product_info {
    flex-grow: 1;
    display: flex;
    align-items: center;
}
.product_info > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-family: sfregular;
    word-spacing: 1px;
    width: 100%;
}
.name {
    font-size: 1.05rem;
    direction: ltr;

}

.features {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 5px;
}

.features > * {
    background-color: #f2f2f2;
    font-size: .9rem;
    padding: 3px 15px;
    height: 28px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    flex-grow: 1;
    justify-content: center;
}