.item {
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 2px #ddd;
    border-radius: 20px;
    transition: all .4s ease-in-out;
    position: relative;
    padding: 15px;
    display: flex;
    align-items: center;
    gap: 10px;
}
.item:hover {
    background-color: #fff;
    box-shadow: 0 0 5px #ddd;
    transform: scale(1.01);
}


.info {
    
}

.name {
    font-family: sflight;
    color: #555;
    direction: ltr;
    display: block;
    width: 120px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.brand {
    font-size: .65rem;
    word-spacing: 1px;
}