.part {
    /* width: 100%; */
}
.part > button {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    background-color: #f6f6f6;
    box-shadow: 0 0 2px #eee;
    border-radius: 15px;
    padding: 15px 20px;
}
.part > button div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3px;
}
.part > button div > *:first-child {
    color: #666;
    font-size: .8rem;
    word-spacing: 1px;
}
.part > button div > *:last-child {
    color: #333;
    word-spacing: 1px;
}