.details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.details > *:not(:last-child) {
    width: 80%;
    background-color: #f2f2f2;
    box-shadow: 0 0 3px #ccc;
    border-radius: 15px;
    padding: 15px 20px;
}

@media screen and (min-width: 1200px) {
    .details > *:not(:last-child) {
        width: 60%;
    }   
}