.container {

}

.value {
    font-size: 1rem;
    display: flex;
    word-spacing: 1px;
    color: #333;
    padding: 8px;
    padding-bottom: 0;
}

.message {
    font-size: .68rem;
    word-spacing: 1px;
    color: #666;
    padding: 8px;
    padding-bottom: 0;
    display: flex;
}