.price {
    display: flex;
    align-items: center;
    gap: 5px;
}
.value {
    letter-spacing: 1px;
    color: #555;
    font-family: sfsemibold;
}
.unit {
    font-size: .7rem;
    color: #666;
    color: #888;
    padding-top: 2px;
}