.footer::before {
    content: '';
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.709);
    border-top: 1px solid #fffa;
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px);
}
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 2px;   
}
.footer > * {
    position: relative;
    z-index: 1;
    height: 100%;
}
.footer > *:first-child {
    width: 50%;
    padding: 3px;
}
.footer > *:first-child button {
    width: 100%;
    height: 100%;
    justify-content: center;
    background-color: #2fabfe;
    color: #fff;
    border-radius: 12px;
    font-size: .88rem;
    word-spacing: 1px;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 18px;
    flex: 1;
    padding-left: 5px;
}


@media screen and (min-width: 992px) {
    .footer { display: none; }
}