#backdrop {
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    padding: 10px;
    z-index: 5;
}
.container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-bottom: 100px;
}
