.price {
    display: flex;
    align-items: center;
    gap: 5px;
}
.value {
    letter-spacing: 1px;
    color: #444;
    font-size: .95rem;
    font-family: shabnambold;
}
.unit {
    font-size: .7rem;
    color: #666;
}