.price {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-top: 1px;
    
}
.value {
    letter-spacing: .5px;
    color: #fff;
    font-size: .8rem;
}
.unit {
    font-size: .6rem;
    color: #eee;
}
.old_price {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.old_price .value {
    letter-spacing: 2px;
    color: #444;
    font-size: .75rem;
    text-decoration: line-through;
}