.details {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.details > * {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.top_info {
    display: flex;
    /* flex-direction: column; */
}
.name {
    direction: ltr;
    font-family: sfregular;
    color: #333;
    font-size: .88rem;
    word-spacing: 1px;
}
.brand {
    font-size: .7rem;
    color: #555;
}

.shopping_info {
    padding: 0 5px;
    padding-top: 5px;
}
.qty {
    display: flex;
    align-items: center;
    gap: 4px;
}
.title {
    font-size: .8rem;
    color: #666;
}
.value {
    font-size: .9rem;
    font-family: sfregular;
    color: #333;
}