.navbar { display: none; } 
.navbar::before { display: none; }
@media screen and (min-width: 992px) {
    .navbar {
        width: 100%;
        height: 55px;
        position: sticky;
        top: 0;
        left: 0;
        z-index: 2;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .navbar > * {
        position: relative;
        z-index: 2;
        width: calc(100% / 3);
        height: 100%;
        flex-grow: 1;
        font-size: .88rem;
        word-spacing: 1px;
    } 
}
