.top_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 8px 20px;
}
.name {
    display: block;
    flex: 2;
    width: 100%;
    direction: ltr;
    color: #eee;
    font-family: sfregular;
    letter-spacing: -0.2px;
    word-spacing: 1px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: .95rem;
}
.top_info > div {
    display: flex;
    flex-direction: column;  
}
.category {
    font-size: .68rem;
    color: #aaa;
}
.brand {
    flex: 1;
    color: #777;
    font-size: .7rem;
}