.main {
    width: 100%;
    min-height: 100vh;
    padding-bottom: 180px;
}
.features {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px 5%;
    width: 100%;
    border-bottom: 1px solid #eee;
}
.item {
    width: 100%;
    background-color: rgba(244, 241, 241, 0.956);
    border: 1px solid rgba(221, 221, 221, 0.483);
    border-radius: 15px;
    justify-content: space-between;
    width: 100%;
}
.item > * {
    padding: 20px;
    justify-content: space-between;
    width: 100%;
}
.item > * > * {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: .9rem;
    word-spacing: 1px;
    color: #555;
}