.capacities {
    padding-top: 40px;
}
.capacities > span {
    font-size: 1.2rem;
    word-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 30px 5%;
    padding-top: 5px;
    width: 100%;
}
.item {
    width: 40%;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
    padding: 15px 20px;
    background-color: #f8f8f8;
    border: 1px solid #fff;
    border-radius: 15px;
    transition: all .4s;
}
.value {
    font-size: 1.8rem;
}
.unit {
    font-size: .7rem;
    color: #888;
}
#selected_item {
    border: 1px solid #0288e0;
}