.prices {
    display: flex;
    flex-direction: column;
}
.title {
    font-size: .88rem;
    word-spacing: 1px;
    color: #666;
}
.list {
    padding: 5px 10px;
}
.item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid #eaeaea;
    padding: 10px 0;
}
.item:last-child {
    border-bottom: none;
}
.sub_title {
    font-size: .95rem;
    word-spacing: 1px;
    color: #444;   
}
