.items {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.items > span {
    display: block;
    padding: 20px;
    padding-bottom: 5px;
    font-size: 1.2rem;
    word-spacing: 1px;
}