.specs {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    width: 100%;
}
.specs > * {
    background-color: #f6f6f6;
    width: 100%;
    padding: 13px;
    border-radius: 12px;
    font-size: .9rem;
    word-spacing: 1px;
    border: 1px solid #36aefe;
    color: #36aefe;
    width: 300px;
}