.header {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 calc(5% + 15px);
    padding-right: 15px;
    background-color: #fff;
    /* border-bottom: 1px solid #eee; */
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

.header > * {
    display: flex;
    align-items: center;
    flex: 1;
}

.header > *:nth-child(1) {
    gap: 10px;
}

.header > *:last-child {
    justify-content: flex-end;
}