.shipping_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-top: 20px;
}
.shipping_info > span {
    font-size: 1.2rem;
    word-spacing: 2px;
    color: #aaa;
}
.part {
    width: 100%;
    display: flex;
    flex-direction: column;
    
    gap: 5px;
    padding: 20px;
    border-bottom: 1px solid #333;
}
.part:last-child {
    border-bottom: none;
}
.title {
    font-size: .85rem;
    word-spacing: 1px;
    color: #aaa;
}
.part > * {
    display: flex;
    align-items: start;
    flex-direction: column;
    width: 100%;
}
.value {
    display: flex;
    /* align-items: center; */
    gap: 5px;
    padding: 10px;
    color: #eee;
    font-size: 1.1rem;
    word-spacing: 2px;
}

.time_value {
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    gap: 5px;
    padding: 0 10px;
    color: #eee;
    font-size: 1.2rem;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.time_value > span {
    font-size: .8rem;
    font-family: shabnamlight;
    color: #999;
}